<ion-header>
  <ion-toolbar>
    <ion-title>
      Foodx
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>1.0</ion-card-subtitle>
      <ion-card-title>Foodx</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Escolha fácil seu restaurante para hoje!</p>
    </ion-card-content>
  </ion-card>

  <div class="container">
    
      <ion-button shape="round" class="button button-block button-positive">
        Sortear
      </ion-button>
      <br><br>
      <ion-input shape="round" class="input-result" value="..." readonly></ion-input>
    
  </div>

</ion-content>